

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*RESTAURANTES*/

#restaurant
{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

#restaurant-image
{
  width: 200px;
  height: 200px;
  padding: 10px;
}

/*LISTA DE RESTAURANTES*/

#restaurant-list
{
  padding: 30px;
}

#restaurant-item
{
  padding: 5px;
  margin-top: 100px;
}

/*FORMULARIOS Y RECURSOS CENTRADOS*/

#center-box
{
  text-align: center;
  margin-top: 20px;
}


#button-users
{
  float:right;
  padding: 10px;
  margin: 10px;
}

/*MENUS*/

.active-item{
  color:#58FA82 !important;
}


/*FOOTER*/

#custom-footer
{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 10%;
   clear:both;
   background-color: #848484;
}
