

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*RESTAURANTES*/

#restaurant
{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

#restaurant-image
{
  width: 200px;
  height: 200px;
  padding: 10px;
}


/*FORMULARIOS Y RECURSOS CENTRADOS*/

#center-box
{
  text-align: center;
  margin-top: 20px;
}
